body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  line-height: 1.5;
}
.page-title {
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 2%;
  line-height: 1.02;
}
.button {
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 4%;
  background-color: #4d5ae5;
}
.button:active,
.button:hover,
.button:focus {
  background-color: #4d5ae5;
}
.section-title {
  font-weight: bold;
  font-size: 36;
  letter-spacing: 2%;
}
.title {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2%;
}
.link,
.link:active,
.link:focus,
.link:hover {
  font-size: 12px;
  line-height: 1.33;
  color: #4d5ae5;
}
.link:active,
.link:focus,
.link:hover {
  color: #4d5ae5;
}
